Source: mink-idl-compiler
Maintainer: Abhinaba Rakshit <abhinaba.rakshit@oss.qualcomm.com>
Uploaders:
 Lukas Märdian <lukas.maerdian@oss.qualcomm.com>,
Standards-Version: 4.6.2
Section: devel
Build-Depends:
 debhelper-compat (= 13),
 dh-cargo,
 cargo:native,
 help2man,
 librust-cc-1+default-dev (>= 1.0.90-~~) <!nocheck>,
 librust-clap-4+default-dev (>= 4.5.4-~~),
 librust-clap-4+derive-dev (>= 4.5.4-~~),
 librust-convert-case-0.6+default-dev,
 librust-env-logger-0.11+default-dev (>= 0.11.3-~~),
 librust-log-0.4+default-dev (>= 0.4.21-~~),
 librust-pest-2+default-dev (>= 2.7.4-~~),
 librust-pest-derive-2+default-dev (>= 2.7.4-~~),
 librust-prettyplease-0.2+default-dev (>= 0.2.6-~~),
 librust-serial-test-dev <!nocheck>,
 librust-syn-2+parsing-dev (>= 2.0.60-~~),
 librust-thiserror-1+default-dev (>= 1.0.59-~~),
 libstd-rust-dev,
 rustc:native (>= 1.81.0),
Homepage: https://github.com/qualcomm/mink-idl-compiler
Vcs-Git: https://github.com/qualcomm-linux/pkg-mink-idl-compiler.git
Vcs-Browser: https://github.com/qualcomm-linux/pkg-mink-idl-compiler

Package: mink-idl-compiler
Architecture: arm64
Description: Compiler for the Mink Interface Definition Language
 Compiler for MINK Interface Definition Language files used to generate
 IPC interface code for secure, cross-domain communication.
 .
 This package contains the binary executable mink-idlc.
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Static-Built-Using:
 ${cargo:Static-Built-Using},
Built-Using:
 ${cargo:Built-Using},
