#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Use the debian cargo wrapper
export CARGO_PATH := /usr/share/cargo/bin/cargo

%:
	dh $@

override_dh_auto_configure:
	# Upstream's lockfiles pin crates.io versions, resolve against the
	# Debian registry instead.
	rm -f Cargo.lock tests/Cargo.lock
	mkdir -p .cargo/
	cp debian/config.toml .cargo/config.toml
	dh_auto_configure

override_dh_auto_build:
	$(CARGO_PATH) build --release --offline

override_dh_auto_install:
	install -d $(CURDIR)/debian/tmp/usr/bin
	install -m 0755 target/release/idlc debian/tmp/usr/bin/mink-idlc
